body
{
    font-family: Calibri, arial, verdana, serif;
    font-weight: normal;
    font-size: 12pt;
    color: black;
    background-color: whitesmoke;
}

h1
{
    font-size: 15pt;
    color:brown;
}

h2
{
    font-size: 13pt;
    color: blue;
}